In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [5]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz', compression='gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
scripts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973193 entries, 0 to 973192
Data columns (total 7 columns):
practice    973193 non-null object
bnf_code    973193 non-null object
bnf_name    973193 non-null object
items       973193 non-null int64
nic         973193 non-null float64
act_cost    973193 non-null float64
quantity    973193 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 52.0+ MB

In [7]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz', compression='gzip')
practices.columns = col_names
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [8]:
chem = pd.read_csv('./dw-data/chem.csv.gz', compression='gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [9]:
summary_stats = scripts.describe()
# summary_stats = summary_stats.T

In [10]:
# summary_stats['total']= summary_stats['count']*summary_stats['mean']

In [11]:
# summary_stats
# summary_stats['total'] = summary_stats['total'].astype('int64')
# summary_stats

In [12]:
#[('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]
# summary_stats = [(item,
        
#             (
#                 summary_stats[item].count(),
#                 summary_stats[item]['mean'],
#                 summary_stats[item]['std'],
#                 summary_stats[item]['25%'],
#                 summary_stats[item]['50%'],
#                 summary_stats[item]['75%']
#             )
#         ) 
#         for item in summary_stats]

In [13]:
from statistics import stdev
from math import sqrt

def std(values):
    second_moment = sum([value**2 for value in values])/len(values)
    first_moment = mean(values)
    return sqrt(second_moment-first_moment**2)

def quantile(q, values):
    idx = round(q*len(values))
    return sorted(values)[idx]
    
    
def describe(key):
    values = [i for i in scripts[key]]
    total = sum(values)
    avg = sum(values)/len(values)
    s = stdev(values)
    q25 = quantile(.25, values)
    med = quantile(.5, values)
    q75 = quantile(.75, values)

    return (total, avg, s, q25, med, q75)

In [14]:

summary_stats = [('items', describe('items')),
           ('quantity', describe('quantity')),
           ('nic', describe('nic')),
           ('act_cost', describe('act_cost'))]
# summary_stats

In [15]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

In [16]:
totals = scripts.groupby('bnf_name')['items'].sum()
totals.head()

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress      2
365 Non Adherent 10cm x 10cm Pfa Plas Fa    3
365 Non Adherent 10cm x 20cm Pfa Plas Fa    1
365 Non Woven Island 8cm x 10cm Adh Dres    1
365 Transpt Island 5cm x 7.2cm VP Adh Fi    2
Name: items, dtype: int64

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [17]:
#totals.sort_values().tail()
totals.idxmax()

'Omeprazole_Cap E/C 20mg'

In [18]:
most_common_item = [(totals.idxmax(), totals[totals.idxmax()])]
most_common_item

[('Omeprazole_Cap E/C 20mg', 218583)]

In [19]:
totals.sort_values().tail(1).index[0]

'Omeprazole_Cap E/C 20mg'

In [20]:
totals.sort_values().tail(1).values[0]

218583

In [21]:
most_common_item = [(totals.sort_values().tail(1).index[0], totals.sort_values().tail(1).values[0])]

In [22]:
most_common_item[0]

('Omeprazole_Cap E/C 20mg', 218583)

In [23]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [24]:
# def group_by_field(data, fields):
#     names = {tuple(item[field] for field in fields) for item in data}
#     groups = {name: [] for name in names}
#     for item in data:
#         name = tuple(item[field] for field in fields)
#         groups[name].append(item)
#     return groups

In [25]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [26]:
# list of unique practices
unique_practices = (practices
                    .sort_values('post_code')
                    .groupby('code')
                    .first()
                    .reset_index()
                   )[['code','post_code']]
unique_practices.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [27]:
# list of unique practices second option
unique_practices = (practices[['code','post_code']]
                     .sort_values(['code','post_code'])
                     .drop_duplicates(subset='code')
                     .reset_index()
                     .drop('index', axis=1)
                   )
unique_practices.head()

     code post_code
0  A81001  TS18 1HU
1  A81002  TS18 2AW
2  A81003  TS25 1QU
3  A81004   TS1 3BE
4  A81005  TS14 7DJ

In [28]:
# Join unique_practices with scripts
joined = scripts.merge(unique_practices, 
                       left_on='practice', 
                       right_on='code',
                      how='left')

In [29]:
print(scripts.shape)
print(joined.shape)
joined.head()

(973193, 7)
(973193, 9)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,CH44 5UF

In [30]:
# Total items for each bnf_name in each post code
post_item_totals = (joined
                         .groupby(['post_code', 'bnf_name'])['items']
                         .sum()
                         .reset_index()
                         .sort_values(['post_code','items'], ascending=False)
                   )
post_item_totals.head()

       post_code                          bnf_name  items
576696  YO16 4LZ           Aspirin Disper_Tab 75mg   1194
576703  YO16 4LZ             Atorvastatin_Tab 20mg   1122
578363  YO16 4LZ           Omeprazole_Cap E/C 20mg   1119
577959  YO16 4LZ  Lansoprazole_Cap 30mg (E/C Gran)   1044
578443  YO16 4LZ                 Paracet_Tab 500mg   1012

In [31]:
# Find most commonly prescripted  item in each post
post_item_totals.groupby('post_code').first().tail()

                                     bnf_name  items
post_code
WS3 3JP                     Paracet_Tab 500mg    789
WS9 8AJ                    Amlodipine_Tab 5mg    396
WV13 2DR   Salbutamol_Inha 100mcg (200 D) CFF    809
YO11 1UB              Omeprazole_Cap E/C 20mg    847
YO16 4LZ              Aspirin Disper_Tab 75mg   1194

In [32]:
max_items = post_item_totals.groupby('post_code').first()
max_items.head()

                                     bnf_name  items
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    706
B12 9LP                     Paracet_Tab 500mg    425
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    556
B21 9RY               Metformin HCl_Tab 500mg   1033
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    599

In [33]:
max_items.shape

(259, 2)

In [34]:
post_code_totals = post_item_totals.groupby('post_code')['items'].sum().head()
max_items['post_totals'] = post_code_totals
max_items['proportion'] = max_items['items']/max_items['post_totals']
max_items.drop(['items','post_totals'], axis=1, inplace=True)
max_items.head()

                                     bnf_name  proportion
post_code
B11 4BW    Salbutamol_Inha 100mcg (200 D) CFF    0.031059
B12 9LP                     Paracet_Tab 500mg    0.024893
B18 7AL    Salbutamol_Inha 100mcg (200 D) CFF    0.027111
B21 9RY               Metformin HCl_Tab 500mg    0.033294
B23 6DJ      Lansoprazole_Cap 30mg (E/C Gran)    0.021384

In [35]:
items_by_region = list(max_items.itertuples())[:100]

In [36]:
# items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [37]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [38]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [39]:
mask = chem['NAME'].str.contains('|'.join(opioids), case=False)
opioid_codes = chem[mask]['CHEM SUB']
opioid_codes.head()

88     0104020D0
91     0104020N0
691    0309010C0
693    0309010N0
695    0309010S0
Name: CHEM SUB, dtype: object

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [40]:
scripts['opioids'] = scripts['bnf_code'].isin(opioid_codes).astype(int)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0

In [41]:
scripts_merged = scripts.merge(chem, 
                               left_on='bnf_code', 
                               right_on='CHEM SUB',
                               how='left'
                              )
scripts_merged.head(2)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids,CHEM SUB,NAME
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0,0106020C0,Bisacodyl
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0,0106040M0,Macrogol 3350

In [42]:
scripts_merged['opioids'] = scripts_merged.NAME.str.lower().isin(opioids).astype('int64')

In [43]:
scripts_merged[scripts_merged.opioids == 1].head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids,CHEM SUB,NAME
549,N81013,0407020A0,Fentanyl_Transdermal Patch 12mcg/hr,1,12.59,11.67,5,1,0407020A0,Fentanyl
550,N81013,0407020A0,Fentanyl_Transdermal Patch 37.5mcg/hr,2,30.92,28.85,10,1,0407020A0,Fentanyl
551,N81013,0407020A0,Durogesic DTrans_T/Derm Patch 25mcg,1,53.97,49.98,15,1,0407020A0,Fentanyl
552,N81013,0407020A0,Durogesic DTrans_T/Derm Patch 12mcg,1,37.77,34.98,15,1,0407020A0,Fentanyl
553,N81013,0407020A0,Matrifen_Patch 12mcg/hr,3,22.56,20.92,15,1,0407020A0,Fentanyl

In [44]:
chem['NAME'].str.contains('morphine|oxycodone', case=False).sum()

14

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [45]:
opioids_per_practice = scripts.groupby('practice')['opioids'].mean()

In [46]:
scripts['opioids'].mean()

0.03580276471367961

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [47]:
relative_opioids_per_practice = opioids_per_practice - scripts['opioids'].mean()

In [48]:
opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: opioids, dtype: float64

In [49]:
relative_opioids_per_practice.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: opioids, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [50]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0

In [51]:
# n_sqrt = np.sqrt(scripts.groupby('practice')['bnf_code'].count())
# scripts['practice'].value_counts().sort_index()
scripts['opioids'].var()/scripts['practice'].value_counts().head()

N83028    0.000012
L83100    0.000012
D81043    0.000014
B81008    0.000014
B81026    0.000015
Name: practice, dtype: float64

$\sqrt{\dfrac{Var}{n}} = \dfrac{\sigma}{\sqrt{n}}$

In [52]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var()/scripts['practice'].value_counts())
opioid_scores = relative_opioids_per_practice / standard_error_per_practice

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [53]:
unique_practices = (practices
 .sort_values(['code','name'])
 .drop_duplicates(subset=['code'], keep='first'))[['code','name']]

In [54]:
opioid_scores.head()

A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
dtype: float64

In [55]:
scripts['practice'].value_counts().head()

N83028    2844
L83100    2797
D81043    2459
B81008    2396
B81026    2347
Name: practice, dtype: int64

In [56]:
results = unique_practices.merge(opioid_scores.rename('score'), left_on='code', right_index=True)

results = results.merge(scripts['practice']
    .value_counts()
    .rename('count'), left_on='code', right_index=True)
results.sort_values(by='score', ascending=False, inplace=True)
results.drop('code', axis=1, inplace=True)
results.head()

                                 name      score  count
7953        NATIONAL ENHANCED SERVICE  11.695818      7
8455         OUTREACH SERVICE NH / RH   7.339043      2
8782  BRISDOC HEALTHCARE SERVICES OOH   6.150582     60
7453           H&R P C SPECIAL SCHEME   5.123032     36
9717                   HMR BARDOC OOH   4.958866    321

In [57]:
# results['code'].drop(axis=1, inplace=True)
anomalies = list(results.itertuples(index=False, name=None))[:100]
anomalies[:2]

[('NATIONAL ENHANCED SERVICE', 11.695817862936027, 7),
 ('OUTREACH SERVICE NH / RH', 7.339043019238823, 2)]

In [58]:

# anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [59]:
# anomalies.dtypes

In [60]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [61]:
scripts.bnf_name.value_counts().head()

GlucoRX FinePoint Needles Pen Inj Screw     1718
3m Health Care_Cavilon Durable Barrier C     816
Prednisolone_Tab 5mg                         785
Fluclox Sod_Cap 500mg                        783
Amoxicillin_Cap 500mg                        777
Name: bnf_name, dtype: int64

In [62]:
#scripts_16 = gzip.open('./dw-data/201606scripts_sample.csv.gz')
    
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [63]:
pct_growth = (scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts())/scripts16.bnf_name.value_counts()
pct_growth.dropna(inplace=True)
# pct_growth.head()

In [64]:
pct_growth.sort_values(ascending=False).head()

Vensir XL_Cap 225mg                     92.000
Fludroxycortide_Tape 7.5cm x 20cm       52.000
Tamiflu_Cap 75mg                        43.000
Enstilar_Foam Aero 50mcg/0.5mg/g        27.125
Memantine HCl_Orodisper Tab 10mg S/F    27.000
Name: bnf_name, dtype: float64

In [65]:
scripts16.bnf_name.value_counts().head()

GlucoRX FinePoint Needles Pen Inj Screw     1532
3m Health Care_Cavilon Durable Barrier C     825
Fluclox Sod_Cap 500mg                        796
Amoxicillin_Cap 500mg                        790
Prednisolone_Tab 5mg                         786
Name: bnf_name, dtype: int64

In [66]:
script_growth_df = pd.concat([pct_growth, scripts16.bnf_name.value_counts()], axis=1, sort=True)
script_growth_df.head()

                                          bnf_name  bnf_name
365 Film 15cm x 20cm VP Adh Film Dress         NaN         1
365 Film 4cm x 5cm VP Adh Film Dress           NaN         1
365 Non Adherent 10cm x 10cm Pfa Plas Fa       0.0         3
365 Non Woven Island 10cm x 10cm Adh Dre       NaN         1
365 Non Woven Island 10cm x 15cm Adh Dre       NaN         1

In [67]:
script_growth_df.columns = ['pct_growth', 'count16']
script_growth_df.dropna(inplace=True)

In [68]:
mask = script_growth_df['count16'] >= 50
script_growth_df = script_growth_df[mask]
script_growth_df.shape

(3485, 2)

In [69]:
script_growth_df.sort_values('pct_growth', ascending=False, inplace=True)

In [70]:
script_growth_df = pd.concat([script_growth_df.head(50), script_growth_df.tail(50)])

In [71]:
script_growth_df.head()

                                          pct_growth  count16
Butec_Transdermal Patch 5mcg/hr             3.467742       62
Butec_Transdermal Patch 10mcg/hr            3.000000       69
Fostair NEXThaler_Inh 200mcg/6mcg (120D)    1.430233       86
Pneumococcal_Vac 0.5ml Vl (23 Valent)       1.269430      193
Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev    1.269231       52

In [72]:
script_growth = list(script_growth_df.itertuples(name=None))

In [73]:
script_growth[:5]

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52)]

In [74]:
# drugs_16=scripts_16[['bnf_name', 'items']]
# drugs_16=drugs_16.groupby('bnf_name').count().reset_index().drop_duplicates()
# drugs_16.columns=['bnf_name', 'count_16']
# drugs_16['count_16']
# drugs_17=scripts[['bnf_name', 'items']]
# drugs_17=drugs_17.groupby('bnf_name').count().reset_index().drop_duplicates()
# drugs_17.columns=['bnf_name', 'count_17']
# # drugs_17.head()
# total_16=drugs_16['count_16'].sum()
# total_17=drugs_17['count_17'].sum()
# drugs_16['rate_16']=drugs_16['count_16']/total_16.astype(float)
# drugs_17['rate_17']=drugs_17['count_17']/total_17.astype(float)
# drugs=drugs_16.merge(drugs_17, on='bnf_name', how='inner').drop_duplicates('bnf_name')
# drugs.head()
# drugs['growth']=(drugs['rate_17']-drugs['rate_16'])/drugs['rate_16'].astype(float)
# drugs.head()
# total_growth=(total_17-total_16)/total_16.astype(float) #-0.0218465730148
# total_growth
# drugs['rel_growth']=drugs['growth']+total_growth
# drugs=drugs[(drugs['count_16']>50)]
# drugs = drugs[['bnf_name', 'rel_growth', 'count_16']]
# drugs.head()
# drugs.sort_values('rel_growth', ascending=False, inplace=True)
# drugs.head()
# final = pd.concat([drugs.iloc[0:50], drugs.iloc[len(drugs)-50: len(drugs)]], axis=0)
# final.head()
# arr = final.values
# arr[:5]
# lst=[]

# for item in arr:
#     lst.append(tuple(item))
# def script_growth():
#     return lst
# script_growth = script_growth()

In [75]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [76]:
# # Another solution
# p = ...
# rates = ...
# rare_codes = ...
# scripts['rare'] = ...
# # Calculating probability for each bnf_code
# p = 1 / float(scripts['bnf_code'].nunique())
# # Calculating rare prescription i.e ratio of count of bnf_code per prescription and total count

# rates = scripts.groupby('bnf_code')['bnf_code'].count().rename('count_prescription').reset_index()
# rates.head()
# total_count = scripts['bnf_code'].count().astype(float)
# total_count
# rare = rates['count_prescription'] / total_count
# rare.head()
# #Filtering the records on the basis of  rate < 0.1p

# rare_codes =  rates[rare < 0.1*p]['bnf_code'].tolist()
# rare_codes[:5]
# #Creating 'rare' column in scripts
# scrpt = scripts
# scrpt['rare'] = scrpt['bnf_code'].isin(rare_codes)
# # Calculate total sum of act_cost for all treatment per prescription
# treatment_sum = scrpt.groupby('practice')['act_cost'].sum()
# treatment_sum.head()
# # Calculate cost for rare treatment per prescription
# rare_treatment_sum = scrpt[scrpt['rare']].groupby('practice')['act_cost'].sum()
# rare_treatment_sum.head()
# # Calculate proportion of costs that originate from rare treatment i.e ratio of rare_treatment_sum and treatment_sum

# rare_cost_prop = (rare_treatment_sum / treatment_sum)
# rare_cost_prop.fillna(0, inplace=True)

# mean_val = scrpt[scrpt['rare']]['act_cost'].sum() / scrpt['act_cost'].sum()

# relative_rare_cost_prop = rare_cost_prop - mean_val 
# standard_errors = relative_rare_cost_prop.std()

# mean_val, standard_errors
# rare_scores = (relative_rare_cost_prop / standard_errors).rename('z-score').reset_index()
# rare_scores.columns =['code','z-score']
# rare_scores.head()
# # Sorting rare_score in descendig order of z-score
# rare_scores.sort_values('z-score', ascending=False, inplace=True)
# rare_scores.columns =['code','z-score']
# rare_scores.head()
# pract = practices[['code','name']].drop_duplicates('code')
# pract.head()
# pract.shape
# rare_scores.shape
# #Joining rare_scores with practices to get (practice, name, z-score)
# joined_data = pd.merge(rare_scores, pract, on='code', how ='inner')#.drop_duplicates(['code','name'])
# joined_data.head()
# joined_data.shape
# joined_data.sort_values('z-score', ascending=False, inplace=True)
# joined_data.reset_index(inplace=True)
# required_cols = ['code', 'name', 'z-score']
# final_df = joined_data[required_cols]
# final_df.shape
# final_df = final_df.head(100)
# arr = final_df.values
# lst=[]

# for item in arr:
#     lst.append(tuple(item))
# def rare_scripts():
#     return lst
# def rare_scripts():
#     #return [("Y03106", "CRI GPWSI", 14.516)] * 100
#     return [tuple(i) for i in final_df.values][:100]
# def rare_scripts():
#     #return [("Y03106", "CRI GPWSI", 14.516)] * 100
#     return [tuple(i) for i in final_df.values][:100]
# rare_scripts = rare_scripts()
# # rare_scripts[:3]

In [77]:
p = 1 / scripts['bnf_code'].nunique()
print(p)

0.0005063291139240507

In [78]:
rates = scripts['bnf_code'].value_counts() / len(scripts)
rates.head()

0906040G0    0.014840
090402000    0.011016
0302000N0    0.010214
130201000    0.008839
0601060D0    0.008799
Name: bnf_code, dtype: float64

In [79]:
mask = rates < .1 * p
rare_codes = rates[mask].index.unique()

In [80]:
len(rare_codes)

844

In [81]:
rare_codes[:5]

Index(['1001030F0', '236001063', '0503021E0', '239448100', '0402010P0'], dtype='object')

In [82]:
scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

In [83]:
scripts.rare.sum()

11570

In [84]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioids,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [85]:
# rare script act_cost per practice / total cost per practice

In [86]:
rare_cost_prop =(scripts[scripts['rare']].groupby('practice')['act_cost'].sum() \
/ scripts.groupby('practice')['act_cost'].sum()).fillna(0)

In [87]:
rare_cost_prop.head()

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
Name: act_cost, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [88]:
relative_rare_cost_prop =  (rare_cost_prop 
                       - scripts[scripts['rare']]['act_cost'].sum()
                       / scripts['act_cost'].sum()
                    )

In [89]:
relative_rare_cost_prop

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
            ...
Y05570   -0.015963
Y05583   -0.015963
Y05597   -0.015963
Y05660   -0.015640
Y05670   -0.015963
Name: act_cost, Length: 856, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [90]:
standard_errors = relative_rare_cost_prop.std()

In [91]:
standard_errors

0.06050888706745139

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [92]:
rare_scores = (relative_rare_cost_prop / standard_errors)

In [93]:
rare_scores

practice
A81005   -0.065216
A81007   -0.125308
A81011   -0.179263
A81012   -0.036615
A81017   -0.142190
            ...
Y05570   -0.263811
Y05583   -0.263811
Y05597   -0.263811
Y05660   -0.258473
Y05670   -0.263811
Name: act_cost, Length: 856, dtype: float64

In [108]:
unique_practices = (practices
                        .sort_values('name')
                        .groupby('code')
                        .first()
                        .reset_index())[['code','name']]
unique_practices.set_index('code', inplace=True)
unique_practices.head()

                              name
code
A81001         THE DENSHAM SURGERY
A81002  QUEENS PARK MEDICAL CENTRE
A81003   VICTORIA MEDICAL PRACTICE
A81004     BLUEBELL MEDICAL CENTRE
A81005          SPRINGWOOD SURGERY

In [109]:
rare_scores = (relative_rare_cost_prop / standard_errors)
# rare_scores = pd.DataFrame(rare_scores)
# type(rare_scores)

In [120]:
rare_scores = pd.concat([unique_practices, rare_scores], axis=1).sort_values('act_cost', ascending=False).head(100)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [122]:
rare_scores.head()

                                     name   act_cost
Y03472           CONSULTANT DIABETES TEAM  16.262687
Y05320     DMC COMMUNITY DERMATOLOGY RBWF  15.128648
Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE   7.542139
Y03484   DMC COMMUNITY DERMATOLOGY CLINIC   7.287222
Y04424                     DMC HEALTHCARE   6.838614

In [123]:
rare_scripts = list(rare_scores.itertuples(name=None)) #[("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [124]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*